<!-- wp:template-part {"slug":"header","theme":"finnimal","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: 0; margin-bottom: 0">
  <!-- wp:post-featured-image {"aspectRatio":"3/2"} /-->
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
    <!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">Latest writings</h2>
    <!-- /wp:heading -->

    <!-- wp:buttons {"fontSize":"small","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons has-custom-font-size has-small-font-size">
      <!-- wp:button {"className":"is-style-outline"} -->
      <div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="/blog/">See all posts</a></div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->

    <!-- wp:pattern {"slug":"finnimal/template-query-loop"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
