<!-- wp:template-part {"slug":"header","theme":"finnimal","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
  <!-- wp:heading {"textAlign":"center","level":1,"className":"wp-block-post-title"} -->
    <h1 class="wp-block-heading has-text-align-center wp-block-post-title">Blog</h1>
  <!-- /wp:heading -->
  <!-- wp:term-description /-->
  <!-- wp:pattern {"slug":"finnimal/template-query-loop"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
